{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                List of commits for issue
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{% url 'project_detail' project.id  %}">project detail</a>
                </li>
            </ol>
        </div>
    </div>
    {% for item1, item2 in list %}
        <li> <a href="{{ item2 }}">{{ item1 }}</a></li>
    {% endfor %}

{% endblock content %}