{% extends 'base.html' %}

{% load bootstrap3 %}

{% block html %}
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        {% load chartit %}
        {{issueschart|load_charts:"container"}}
    </head>
{% endblock html %}
{% block content %}
        <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Graphs
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{% url 'project_detail' project.id  %}">project detail</a>
                </li>
            </ol>
        </div>
    </div>
    <div id='container'></div>
{% endblock content %}


