{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                User <small>edit profile</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{% url 'user-profile' %}">profile</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> edit
                </li>
            </ol>
        </div>
    </div>
        <div style="width: 30%;  padding: 20px" class="row" align="left">
            <form action="" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div align="center">
                    {% buttons %}
                        <button type="submit" class="btn btn-primary" >
                            {% bootstrap_icon "floppy-disk" %} Update </button>
                    {% endbuttons %}
                </div>
            </form>
        </div>
{% endblock content %}

