{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<div id="wrapper">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-brand">
                Ticket system
            </div>
            <ul class="nav navbar-nav">
              <li><a href="{% url 'project' %}">Projects</a></li>
              <li><a href="{% url 'roleOnProject' %}">User on project</a></li>
              <li><a href="#">Page 3</a></li>
            </ul>
              <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{ user }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{% url 'logout' %}?next=/login">{% bootstrap_icon "logout" %} Logout</a>
                        </li>
                    </ul>
                </li>
              </ul>
          </div>
        </nav>

    <div id="page-wrapper">
        <div class="container-fluid" align="center">

            {% block content %}
            {% endblock content %}

        </div>
    </div>
</div>