{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block bootstrap3_content %}

    <div class="container" align="center">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    {% bootstrap_icon "glyphicon glyphicon-tasks" %} Ticket system
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
            </div>
        </nav>

        <div style="width: 30%; border: 2px solid #d3d3d3; border-radius: 15px; padding: 20px; margin-top: 100px"
             class="row">
            <h1>{% block title %}{% endblock %}</h1>

            {% bootstrap_messages %}

            <div class="span12 box">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
{% endblock %}
